.MainQuiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    /* background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%); */
    background: url('../images/Mountains_Stars_Sky_Scenery_USA_Cascades_Mount_529129_2500x1686.jpg') center center/cover no-repeat;
    text-align: center;
}

.MainQuiz h1 {
    color: #fff;
    margin-left: 10px;
}

.MainQuizWrapper {
    width: 800px;
}
