.FinishedQuestionnaire {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    
}

.FinishedQuestionnaire ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuestionnaire ul li i {
    margin-left: 10px;
}

.bigInt {
    display: flex;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 15px;
    justify-content: space-around;
}
.bigInt .bigInt__success, .bigInt .bigInt__error {
    text-align: center;
}

.bigInt span {
    font-size: 45px;
}
 

